{% extends 'base.html' %}
{% load static %}
{% block title %}Wallet | Mystore{% endblock title %}


{% block content %}

<div class="container">
    
    <form method="POST" class="wallet-info d-flex flex-column justify-content-center mx-auto" style="margin-top: 100px; width: 700px; box-shadow: 1px 1px 18px 12px rgb(165, 164, 164); border-radius: 15px; padding: 20px;">
        {% csrf_token %}
        <h2>Create Nexus Lab Wallet</h2>
        <hr>
        <p class="alert alert-warning">
            Note: When you click the "Create Wallet" button, a wallet will be created with a balance of 0 and a unique wallet number. 
            You will be able to fund it by visiting your wallet after it is created.
            This behavior is not real because you are in a penetration testing environment for experimentation and learning purposes.
        </p>
        <button type="submit" class="btn btn-info">Create Wallet</button>
    </form>

</div>
{% endblock content %}