{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <h3>Transactions</h3>
  {% if not page_obj %}
    <h2 class="text-center fw-light mt-3">There are no transactions yet.</h2>
  {% else %}
<table class="table table-striped" style='height: 100vh;'>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Transaction</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>

    {% for trans in page_obj%}
        <tr>
          <th scope="row">{{trans.id}}</th>
          <td>{{trans.transaction_type}}</td>
          <td>{{trans.amount}}$</td>
          <td>{{trans.created_at}}</td>
          <td>{{trans.description}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% include "parts/pagination.html" %}

  {% endif %}


    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>