{% extends 'base.html' %}
{% load static %}
{% block title %}Wallet | Mystore{% endblock title %}


{% block content %}
<style>
    .text-wrap::selection {
        background-color: #000000;
        color: #fff;
    }

</style>
<div class="container">
    
        {% if is_exists %}
        <div class="wallet-info d-flex flex-column justify-content-center mx-auto" style="margin-top: 100px; width: 1000px; box-shadow: 1px 1px 18px 12px rgb(165, 164, 164); border-radius: 15px; padding: 20px;">
            <h2>{{user.get_short_name}}'s Wallet</h2>
            <hr>

            <h4>Current balance: {{user.wallet.balance}}$</h4>
            <div class="d-flex">
                <h4 style="display: inline-block;">Wallet Number: </h4>
                <div class="badge bg-primary text-wrap ms-2" style="width: 10rem; font-size: 18px;">{{user.wallet.wallet_number}}</div>
            </div>
            <hr>
            <a href="{% url 'wallet:deposit_url' request.user.username %}" class="btn btn-info w-25">deposit</a>
            <a href="{% url 'wallet:withdrawal_url' request.user.username %}" class="btn btn-info w-25">withdraw</a>
        </div>

        <hr>

        <iframe src="{% url 'wallet:transactions_url' request.user.username %}" class="wallet-info d-flex flex-column justify-content-center mx-auto" style="margin-top: 50px; width: 1000px; height: 500px; box-shadow: 1px 1px 18px 12px rgb(165, 164, 164); border-radius: 15px; padding: 20px;" frameborder="0"></iframe>
    {% else %}
        
        <div class="wallet-info d-flex flex-column justify-content-center mx-auto" style="margin-top: 250px; width: 700px; box-shadow: 1px 1px 18px 12px rgb(165, 164, 164); border-radius: 15px; padding: 20px;">
            <h2>Nexus Lab's Wallet</h2>
            <div class="alert alert-warning">You don't have a wallet, it was either deleted or something went wrong during its creation. You can create a wallet <a href="{% url 'wallet:create_wallet_url' %}" style="text-decoration-line: none;">here</a></div>
        </div>
    {% endif %}

</div>
{% endblock content %}