{% extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock title %}


{% block content %}

<div id="products" class="container d-flex justify-content-between flex-wrap mt-5">
    {% for prod in products %}
        <div class="card mt-5" style="width: 19rem; box-shadow: 1px 0px 20px 4px grey;" data-product-id="{{prod.id}}">
            <div class="img-container" style="width: 100%; height: 300px; background-size: auto;">
                {% if prod.img %}
                    <img src="{{prod.img.url}}" width="100%" height="100%" class="card-img-top" alt="product image">
                {% else %}
                    <img src="{% static 'images/products/product-default-img.png' %}" width="100%" height="100%" class="card-img-top" alt="product image">
                {% endif %}
            </div>

            <div class="card-body d-flex flex-column">
                <h5 class="card-title" >{{prod.title}}</h5>
                <p class="card-text" style="font-size: 14px;">{{prod.description|truncatewords:4}}</p>
                {% if prod.discount %}
                    <p class="card-text"><b>price: </b><del>{{prod.price}}</del>$ -- {{prod.final_price}}$</p>
                {% else %}
                    <p class="card-text"><b>price: </b>{{prod.final_price}}$</p>
                {% endif %}

                <div class="d-flex justify-content-between align-items-end mt-auto">
                    <a href="{% url 'product:product_url' prod.slug %}"  class="btn btn-primary" style="width: 49%;">Open product</a>
                    <a class="btn btn-info cart" style="width: 49%;" onclick="manageCart(this, 'add')" data-product-id="{{prod.id}}">Add to cart</a>
                <div class="btn btn-info d-flex justify-content-between align-items-center d-none cart-adding-controls" 
                    style="width: 49%; background-color: transparent; border: 1px solid blue; border-radius: 20px;">
    
                    <i class="fa-solid fa-minus d-none cart-minus" onclick="manageCart(this, 'minus')"></i> 
                    <i class="fa-regular fa-trash-can cart-trash" onclick="manageCart(this, 'delete')"></i> 
                    <span class="cart-items-number"></span> 
                    <i class="fa-solid fa-plus cart-plus" onclick="manageCart(this, 'plus')"></i> </div>
                </div>

            </div>
        </div>
    {% endfor %}
</div>



{% include "parts/pagination.html" %}
<div class="d-flex justify-content-center mt-5">
    <a id='more-products' class="d-none" style="text-decoration-line: none;" href="">More products</a>
</div>



{% block extra_script %}
<script src="{% static 'cart/js/cart.js' %}"></script>
<script src="{% static 'product/js/search_products.js' %}"></script>
{% endblock extra_script %}


{% endblock content %}
